<div class="category-selection">
    <div class="container-content">
        <div class="container-fluid">
            <div class="empty-circle">
                {{#categoryButtons}}
                <div class="row cts-row">
                    <div class="col-12-sm" align="center">
                        {{> atoms-button}}
                    </div>
                </div>
                {{/categoryButtons}}
            </div>
        </div>
    </div>
</div>
