<div class="container-content">
    <div class="container-fluid">
        <div class="hidden-xs">
            {{> atoms-hero-desktop }}
        </div>
        <div class="visible-xs-block" style="text-align: center;">
            {{> atoms-hero-mobile }}
        </div>
    </div>
</div>