<section class="item-selection">
    <div class="container-content">
        <div class="container-fluid">
            <div class="hidden-xs">
                {{> atoms-item-selection-desktop }}
            </div>
            <div class="visible-xs-block" style="text-align: center;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="circle-category">
                             {{> atoms-circle-category }}
                        </div>
                    </div>
                </div>
                <div class="row">
                {{# categoryItemsMobile}}
                    <div class="col-xs-12">
                        <div class="circle-item">
                            {{> atoms-circle-item }}
                        </div>
                    </div>
                {{/ categoryItemsMobile}}
                </div>
            </div>
        </div>
    </div>
</section><!--end section-->