<section class="item-hero">
    <div class="container-content">
        <div class="container-fluid">
            <div class="hero-item-container">
                <div class="hidden-xs">
                    {{> atoms-circle-hero-item-desktop }}
                </div>
            </div>
            <div class="visible-xs-block" style="text-align: center; margin-bottom: 90px;">
            {{> atoms-circle-hero-item-mobile }}
        </div>
            
            {{> molecules-carousel }}
        </div>
    </div>
</section>
