<section class="strap {{strap-pattern}}">
    <div class="container-content">
        <div class="container-fluid">
            {{> molecules-block-title }}
            {{> molecules-block-text }}
        </div>
    </div>
</section><!--end section-->
