<nav id="nav" class="visible-md-block visible-lg-block">
    <ul class="primary-nav">
        {{# primaryNav }}
            {{> atoms-nav-button }}
        {{/ primaryNav }}
    </ul>
    {{> atoms-straightline }}
</nav><!--end c-primary-nav-->

<nav class="navbar primary-nav-mobile visible-xs-block visible-sm-block">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="current-category">{{ navbar-current-category }}</div>

        {{> atoms-straightline }}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{# primaryNav }}
                {{> atoms-nav-button }}
            {{/ primaryNav }}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
