<div class="block-avatar">
    <div class="row">
        <div class="col-md-4 col-sm-5">
            {{> atoms-avatar }}
        </div>
        <div class="col-md-8 col-sm-7">
            {{> molecules-block-title }}
            <div class="strap-description"> {{{strap-avatar.description}}}</div>
        </div>
    </div>
</div>
