<div class="block-list">
    {{> molecules-block-title }}
    <div class="row">
        <div class="col-md-3 col-sm-6">
            {{# colOneLinks }}
                {{> atoms-link }}
            {{/ colOneLinks }}
        </div>
        <div class="col-md-3 col-sm-6">
            {{# colTwoLinks }}
                {{> atoms-link }}
            {{/ colTwoLinks }}
        </div>
        <div class="col-md-3 col-sm-6">
            {{# colThreeLinks }}
                {{> atoms-link }}
            {{/ colThreeLinks }}
        </div>
        <div class="col-md-3 col-sm-6">
            {{# colFourLinks }}
                {{> atoms-link }}
            {{/ colFourLinks }}
        </div>
    </div>
</div>
