.modular-scale(0);
@font-size-base:            @modular-scale-return;
@font-family-sans-serif:    'Open Sans', sans-serif;
@font-family-base:          @font-family-sans-serif;
@headings-font-weight:      400;

@screen-xs:                  320px;
@screen-sm:                  768px;
@screen-md:                  1024px;
@screen-lg:                  1440px;

@grid-float-breakpoint:     @screen-md;

.row{
    margin-left: 0px;
    margin-right: 0px;
}

a{
    color: white;
    
    &:hover{
        color: white;
        text-decoration: none;
    }
    &:focus{
        color: white;
        text-decoration: none;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.btn:active, .btn.active {
    box-shadow: none;
}
