.button-primary{
    .modular-scale(3);
    font-size: @modular-scale-return;
    font-family: 'Kavivanar', cursive;
    background-color: #786649;
    text-transform: uppercase;
    color: white;
    border-radius: 0px;
    width: 100%;
    max-width: 400px;
    line-height: 62px;
    height: 75px;
    background-image: url(../images/patterns/concrete_seamless-btn.png);
    
    &:focus{
        color: white;
    }

    @media (max-width: @screen-md-min) {
        .modular-scale(3);
        line-height: 41px;
        height: 55px;
  }
}

.active-nav-btn-bg{
    opacity: 0.4 !important;
}

.nav-button-li{
    
    .nav-background{
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        margin-top: 16px;
        z-index: -22;
        position: absolute;

        @media (max-width: @screen-md-min) {
            margin-top: -47px;
        }
    }

    .seigaiha-nav{
        margin-left: -74px;
        background-image: url(../images/patterns/seigaiha-nav.png);

        @media (max-width: @screen-md-min) {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    .sayagata-nav{
        margin-left: -77px;
        background-image: url(../images/patterns/sayagata-nav.png);

        @media (max-width: @screen-md-min) {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    .symphony-nav{
        margin-left: -101px;
        background-image: url(../images/patterns/symphony-nav.png);

        @media (max-width: @screen-md-min) {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    .washi-nav{
        margin-left: -62px;
        background-image: url(../images/patterns/washi-nav.png);

        @media (max-width: @screen-md-min) {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    &:hover{
        .seigaiha-nav{
            transition: 0.2s ease-out;
            opacity: 0.4;
        }
    }

    &:hover{
        .sayagata-nav{
            transition: 0.2s ease-out;
            opacity: 0.4;
        }
    }

    &:hover{
        .symphony-nav{
            transition: 0.2s ease-out;
            opacity: 0.4;
        }
    }

    &:hover{
        .washi-nav{
            transition: 0.2s ease-out;
            opacity: 0.4;
        }
    }
}

.nav-button{
    .modular-scale(3);
    font-size: @modular-scale-return;
    font-family: 'Kavivanar', cursive;
    text-transform: uppercase;
    color: black;
    padding-top: 20px;
}

.seigaiha-btn{
    &:hover{
        background-image: url(../images/patterns/seigaiha-btn.png);
        background-size: 50%;
        color: white;
    }
}

.sayagata-btn{
    &:hover{
        background-image: url(../images/patterns/sayagata-btn.png);
        background-size: 50%;
        color: white;
    }
}

.symphony-btn{
    &:hover{
        background-image: url(../images/patterns/symphony-btn.png);
        background-size: 25%;
        color: white;
    }
}

.washi-btn{
    &:hover{
        background-image: url(../images/patterns/washi-btn.png);
        background-size: 12%;
        color: white;
    }
}

.current-category{
    .modular-scale(3);
    font-size: @modular-scale-return;
    font-family: 'Kavivanar', cursive;
    text-transform: uppercase;
    color: black;
    padding-top: 20px;
    padding-left: 60px;
    text-align: center;
}

.back-btn-mobile-cloud-hover-js{
    stroke-width: 0;
    fill: url(#pattern-1-mobile);
}

.back-btn-mobile-text-hover-js{
    fill: #FFFFFF;
}

.back-btn-desktop-cloud-hover-js{
    stroke-width: 0;
    fill: url(#pattern-1);
}

.back-btn-desktop-text-hover-js{
    fill: #FFFFFF;
}
