.slider-for{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("../images/carousel_background.svg");
    background-repeat: no-repeat;
}

.slider-nav{
    margin-top: 40px;
}
