.empty-circle{
    background: url(../images/circle.svg) no-repeat top center;
    background-size: contain;
    width: 50%;
    margin: 0 auto;
    max-width: 513px;
    
    &:after{
        content: "";
        display: block;
        padding-top: 50%;
    }
    
    @media (max-width: @screen-sm-min) {
        width: 100%;
  }
}

.category-selection{
    margin-top: 130px;
    overflow-x: hidden;
}

.cts-row{
    padding-bottom: 60px;
    &:first-child{
        padding-top: 40px;
    }
}

.cts-button-one{
    margin-left: -10px;
}

.cts-button-two{
    margin-left: -120px;
}

.cts-button-three{
    margin-left: 40px;
}
