.circle-category {
	
}

.circle-item {
	padding-top: 40px;
}

#circle-item{
    text{
        text-anchor: middle;
    }
}

.circle-hover-js{
    stroke: #515151;
    stroke-width: 4;
}

svg a:hover {
   text-decoration: none;
}

#categoryTitle{
    text-anchor: middle;
}

#itemTitle{
    text-anchor: middle;
}

#itemSubTitle{
    text-anchor: middle;
}

#itemTags{
    text-anchor: middle;
}
