.seigaiha{
    background: url(../images/patterns/seigaiha.png);
}

.sayagata{
    background: url(../images/patterns/sayagata-400px.png);
}

.symphony{
    background: url(../images/patterns/symphony.png);
}

.washi{
    background: url(../images/patterns/washi.png);
}

.strap{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.strap-description{
    color: white;
    text-align: center;
}

.link-list-heading{
    .modular-scale(2);
    font-size: @modular-scale-return;
    
    color: white;
    
    font-weight: 700;
    padding-bottom: 40px;
}

.link{
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-style: italic;

    &:hover{
        color: whitesmoke;
        text-decoration: underline;
        text-decoration-style: dotted;
        font-style: italic;
    }

    &:focus{
        color: whitesmoke;
        text-decoration: underline;
        text-decoration-style: dotted;
        font-style: italic;
    }
}

.link-container{
    padding-bottom: 40px;
}

.block-list{
    text-align: center;
}

.strap-title {
    .modular-scale(7);
    font-size: @modular-scale-return;
    font-family: 'Kavivanar', cursive;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
