<div class="slider-for">
    {{# carousel }}
        {{> atoms-carousel-image }}
	{{/ carousel }}
</div>
<div class="slider-nav">
    {{# carousel }}
        {{> atoms-carousel-thumbnail }}
	{{/ carousel }}
</div>

