.bartop {
    height: 15px;
    min-width: 980px
}

.root{
    background-color: rgba(229, 226, 211, 1);
}

.profileimg{
    width: 530px;
    height: 530px;
    margin: 0 auto;
}

.imgcontainer{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

.line{
    margin-top: 24px;
    height: 5px;
    border-bottom: 3px solid rgba(198, 196, 173, 1);
}

.l1{
    width: 369px;
}

.l2{
    width: 289px;
}

.l3{
    width: 318px;
}

.l4{
    width: 309px;
}

.topic-name {
    width: auto;
}

.topic-section {
    padding-top: 20px;
}

.site-color {
    color: rgba(232, 99, 78, 1);
    font-weight: bold;
}

.sub-topic {
    width: auto;
}

.sub-topic-header {
    width: auto;
}

.sub-topic-content {
    width: 285px;
}

.li-img-container {
    width: 100px;
    padding-left: 20px;
    margin-right: 20px;
}

.li-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.item-text {
    width: 760px;
}

.show-more {
    text-align: center;
}

.hideContent {
    overflow: hidden;
    height: 7em;
}

.showContent {
    height: auto;
}
.list-item {
    padding-bottom: 40px;
}
.bottom-bar {
    height: 380px;
    min-width: 980px
}

.bottom-content {
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}

.line-bottom {
    margin-top: 24px;
    height: 5px;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.topic-name-bottom {
    width: auto;
    color: rgba(255, 255, 255, 1);
}

.sub-topic-header-bottom {
    width: auto;
    color: rgba(255,255,255,1);
}

.sub-topic-content-bottom {
    width: 300px;
    color: rgba(255,255,255,1);
}

.root-content {
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    padding-bottom: 20px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    width: 980px;
}

.l-bottom {
    width: 391px;
}

.name {
    display: flex;
    position: absolute;
    top: 80px;
    left: 210px;
}

.maskimage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.maskprofileimage {
    width: 530px;
    height: 530px;
}

.bar-color {
    background-color: rgba(117, 178, 199, 1);
}

.topic-header {
    margin-bottom: 10px;
    margin-top: 20px;
}

ul.imgcontainer{
    list-style-type:none;
    margin-left:0;
    background-color:#eae9d4;
    padding: 6px;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
}
ul.imgcontainer li{
    display:inline-block;
    position: relative;
    z-index: 0;
    margin:10px 5px 0 5px;
}
