@import "../node_modules/viewerjs/dist/viewer.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* apparently this is not possible with tailwind
https://github.com/tailwindlabs/tailwindcss/discussions/7444
https://stackoverflow.com/questions/72663726/multiple-background-urls-repeat-and-size
*/
.background-custom-repeat {
  background-repeat: no-repeat, repeat;
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}
