<svg width="100%" height="100%" viewBox="0 0 889 887" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <circle id="path-1" cx="206.5" cy="215.5" r="206.5"></circle>
        <pattern id="pattern-2" width="400" height="400" x="-400" y="-391" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-3"></use>
        </pattern>
        <image id="image-3" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-green.png"></image>
        <circle id="path-4" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-5" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-6"></use>
        </pattern>
        <image id="image-6" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-7" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-8" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-9"></use>
        </pattern>
        <image id="image-9" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-10" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-11" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-12"></use>
        </pattern>
        <image id="image-12" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-13" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-14" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-15"></use>
        </pattern>
        <image id="image-15" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-16" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-17" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-18"></use>
        </pattern>
        <image id="image-18" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-19" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-20" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-21"></use>
        </pattern>
        <image id="image-21" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-22" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-23" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-24"></use>
        </pattern>
        <image id="image-24" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
        <circle id="path-25" cx="107" cy="107" r="103"></circle>
        <pattern id="pattern-26" width="400" height="400" x="-396" y="-396" patternUnits="userSpaceOnUse">
            <use xlink:href="#image-27"></use>
        </pattern>
        <image id="image-27" width="400" height="400" xlink:href="../../images/patterns/concrete_seamless-yellow.png"></image>
    </defs>
    <g id="Category" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-275.000000, -174.000000)">
            <g id="Navs-/-item-selection" transform="translate(275.000000, 174.000000)">
                <g id="Headings-/-category" transform="translate(230.000000, 226.000000)">
                    <g id="circle" fill-rule="evenodd">
                        <use fill="url(#pattern-2)" xlink:href="#path-1"></use>
                    </g>
                    <text id="categoryTitle" class="categoryTitleDesktop" opacity=0 font-family="Kavivanar, cursive" font-size="49" font-weight="normal" fill="#EEEEEE">
                        <tspan x="204" y="232">{{categoryTitle}}</tspan>
                    </text>
                    <g id="Group-6" stroke-width="1" fill-rule="evenodd" transform="translate(1.000000, 0.289062)" stroke="#414141" fill="#515151">
                        <path d="M107.790351,511.420685 C224.367462,511.420685 318.871883,421.546898 318.871883,310.681962 C318.871883,199.817026 224.367462,109.943238 107.790351,109.943238 C47.0621174,109.943238 161.022173,107.359438 232.278118,146.399364 C297.808833,182.302534 318.871883,257.56963 318.871883,310.681962 C318.871883,359.618943 272.365627,448.514656 211.068883,483.347338 C133.500102,527.426818 42.6716365,511.420685 107.790351,511.420685 Z" id="Oval" transform="translate(202.192658, 312.080801) rotate(90.000000) translate(-202.192658, -312.080801) "></path>
                        <path d="M297.621713,316.892196 C365.958036,316.892196 259.860139,329.240025 178.396789,281.259335 C121.259679,247.606435 87.1028744,162.270086 87.1028744,116.688594 C87.1028744,70.0289643 119.861539,-14.4999766 178.396789,-48.5407581 C258.572609,-95.1664677 364.824348,-83.5150066 297.621713,-83.5150066 C181.355369,-83.5150066 87.1028744,6.11919873 87.1028744,116.688594 C87.1028744,227.25799 181.355369,316.892196 297.621713,316.892196 Z" id="Oval" transform="translate(203.313482, 116.754538) rotate(90.000000) translate(-203.313482, -116.754538) "></path>
                    </g>
                </g>
                <g id="circle-item" transform="translate(158.000000, 21.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-1">
                            <use fill="url(#pattern-5)" xlink:href="#path-4"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-1">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.one.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.one.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.one.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.one.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.one.url}}</tspan>
                        </text>
                            </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(439.000000, 0.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-2">
                            <use fill="url(#pattern-8)" xlink:href="#path-7"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-2">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.two.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.two.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.two.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.two.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.two.url}}</tspan>
                        </text>
                        </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(650.000000, 176.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-3">
                            <use fill="url(#pattern-11)" xlink:href="#path-10"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-3">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.three.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.three.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.three.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.three.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.three.url}}</tspan>
                        </text>
                        </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(675.000000, 438.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-4">
                            <use fill="url(#pattern-14)" xlink:href="#path-13"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-4">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.four.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.four.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.four.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.four.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.four.url}}</tspan>
                        </text>
                        </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(514.000000, 647.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-5">
                            <use fill="url(#pattern-17)" xlink:href="#path-16"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-5">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.five.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.five.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.five.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.five.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.five.url}}</tspan>
                        </text>
                        </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(207.000000, 673.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-6">
                            <use fill="url(#pattern-20)" xlink:href="#path-19"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-6">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.six.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.six.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.six.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.six.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.six.url}}</tspan>
                        </text>
                        </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(1.000000, 472.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-7">
                            <use fill="url(#pattern-23)" xlink:href="#path-22"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-7">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.seven.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.seven.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.seven.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.seven.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.seven.url}}</tspan>
                        </text>
                        </g>
                    </g>
                </g>
                <g id="circle-item" transform="translate(0.000000, 221.000000)" stroke-width="1" fill-rule="evenodd">
                    <g>
                        <circle id="ghost" fill="#FFFFFF" style="mix-blend-mode: multiply;" cx="107" cy="107" r="107"></circle>
                        <g opacity=0 id="circle" class="category-item-desktop-8">
                            <use fill="url(#pattern-26)" xlink:href="#path-25"></use>
                        </g>
                        <g opacity=0 class="category-item-text-desktop-8">
                        <text id="title" font-family="Kavivanar, cursive" font-size="34" font-weight="bold" fill="#FFFFFF">
                            <tspan x="107" y="86">{{categoryItems.eight.title}}</tspan>
                        </text>
                        <text id="tags" font-family="Kavivanar, cursive" font-size="16" font-weight="bold" fill="#FFFFFF">
                            <tspan x="106.769531" y="167">{{categoryItems.eight.tags}}</tspan>
                        </text>
                        <text id="subtitle-one" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="114">{{categoryItems.eight.subtitle-one}}</tspan>
                        </text>
                        <text id="subtitle-two" font-family="Kavivanar, cursive" font-size="20" font-weight="normal" fill="#FFFFFF">
                            <tspan x="107" y="137">{{categoryItems.eight.subtitle-two}}</tspan>
                        </text>
                        <text id="url" opacity="0" font-family="Kavivanar, cursive" font-size="1" font-weight="normal" fill="#FFFFFF">
                            <tspan x="62" y="188">{{categoryItems.eight.url}}</tspan>
                        </text>
                            </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
