{{> organisms-header }}
<main role="main">
    <div class="container-heading">
	{{> organisms-item-selection }}
    </div>
    
    {{> organisms-strap-list }}
    
    {{> organisms-category-selection }}
    
</main>
{{> organisms-footer }}