{{> organisms-header }}
<main role="main">
    <div class="container-heading">
    {{> organisms-hero }}
     </div>
    {{> organisms-strap-avatar }}
    
    {{> organisms-category-selection }}
    
</main>
{{> organisms-footer }}
