{{> organisms-header }}
<main role="main">
    <div class="container-heading">
    {{> organisms-item-hero }}
     </div>
    {{> organisms-strap-text }}
    
    {{> organisms-category-selection }}
</main>
{{> organisms-footer }}
