<header role="banner">

	<div class="nav-container">
        <div class="container-fluid">
            {{> molecules-primary-nav }}
        </div>
        
	</div><!-- end c-header__controls -->

</header><!-- end c-header -->
