.container-content{
    max-width: 1080px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
    
    @media (max-width: @screen-sm-min) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.container-heading{
    margin-top: 100px;
    margin-bottom: 130px;
    @media (max-width: @screen-sm-min) {
        margin-top: 60px;
        margin-bottom: 100px;
    }
}

.hero-item-container{
    padding-left: 60px;
    padding-right: 60px;
    
    @media (max-width: @screen-md-min) {
        padding-left: 0px;
        padding-right: 0px;
    }
}
